body{
/* Kurt    width: 900px; */
 /*   margin: 0 auto; */
  padding: 0;
  background: url('../images/body_bg.jpg') repeat scroll 0 0 transparent; 
}
#loading {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 50px; /* Kurt: made it smaller 100px; */
    margin-top:200px;
}

#container {
 background-color: white;  /* kurt */
 
}

#container .pagination ul li.inactive,
#container .pagination ul li.inactive:hover {
    background-color:#ededed;
    color:#bababa;
    border:1px solid #bababa;
    cursor: default;
}

#container h1.heading { 
    text-align: center;
    font-size: 24px;
    color:#cc0000;
    font-weight:bold;
/*
    margin-bottom: .75em;
    margin-top: .5em;
*/
    padding-top: .7em;
    padding-bottom: .2em;
    font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}
/*
#container .data ul li{
    list-style: none;
    font-family: verdana;
    margin: 5px 0 5px 0;
    color: #000;
    font-size: 13px;
}
*/
/* kurt: table stuff */
#container {
   
  width: 52em;
  margin: 0 auto; 
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-bottom: 15px;
 
}
#container .data table {
    
/*  font-family: Verdana, Geneva, sans-serif; */
    font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-size: 14px;
}
#container .data table th {
    padding-bottom: .9em;
    vertical-align: bottom;
}
#container .data table td.date {
    vertical-align: top;
    text-align: center;
    width: 15%;
}
#container .data table td.key {
    vertical-align: top;
    text-align: center;
    width: 10%;
}
#container .data table td.report {
    
}

#container .data table td blockquote { /* Kurt */
  border-left: 2px solid #c00000;
  padding: 5px 15px;
  text-align: justify;
  line-height: 1.5em;
}

#container .data table td blockquote:before { /* Kurt */

 content: open-quote;
}

#container .data table td blockquote:after { /* Kurt */

 content: close-quote;
}

#container .pagination {
    width: 800px;
    height: 25px;
}

#container .pagination ul li{
    list-style: none;
    float: left;
    border: 1px solid #006699;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial;
    font-size: 14px;
    color: #006699;
    font-weight: bold;
    background-color: #f2f2f2;
}
#container .pagination ul li:hover {
    color: #fff;
    background-color: #006699;
    cursor: pointer;
}

.go_button {

  background-color:#f2f2f2;border:1px solid #006699;color:#cc0000;padding:2px 6px 2px 6px;cursor:pointer;position:absolute;margin-top:-1px;
}

.total {

  float:right;font-family:arial;color:#999;
}

