pre, div.highlight pre {
 font-family:  monospace;
 font-size: 13.33px;
/* background-color: #000; Kurt removed these two lines on 12/08/11 
 padding: .7em; */
}

tt {
font-weight: bold;
font-family: "DejaVu Sans Mono", monospace;
}

table.bottom-margin-1em {
  margin-bottom: 1em;
}
